// @use '../base/variables';
// @use '../base/mixins';

@media (max-width: 1440px) {
    .container {
        &-wide {
            margin: 0 auto;
            width: 1120px;
        }
    }

    .description {
        margin: 24px 0 24px;

        &__wrapper {
            grid-template-columns: 7fr 4fr;
        }
    }

    .get {
        &__wrapper {
            grid-template-columns: 0.65fr 0.35fr;
            column-gap: 36px;
        }
    }

    .requirements {
        &__wrapper {
            grid-template-columns: 7fr 3fr;
            column-gap: 30px;
        }
    }

    .choose {
        height: 178px;

        &__wrapper {
            grid-template-columns: 4fr 1fr;
        }
    }
}


@media (max-width: 1200px) {
    .container {
        &-wide {
            max-width: 960px;
        }
    }

    .description {
        height: unset;
        margin: 24px 0;
    }


    .get {
        height: 320px;

        &__wrapper {
            grid-template-columns: 6fr 4fr;
            column-gap: unset;
        }

        &__text {
            h1 {
                line-height: 38px;
            }
        }

        &__photo {
            img {
                height: 80%;
            }
        }
    }

    .conditions {
        &__text {
            h1 {
                line-height: 38px;
            }
        }
    }

    .requirements {
        &__photo {
            img {
                max-width: unset;
            }
        }
    }

    .choose {
        height: 158px;

        &__title {
            h1 {
                line-height: 38px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        &-wide {
            max-width: 720px;
        }
    }

    .get {
        height: auto;

        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__photo {
            display: none;
        }
    }

    .requirements {
        &__wrapper {
            grid-template-columns: 1fr;
        }


        &__photo {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .container {
        &-wide {
            max-width: 540px;
        }
    }

    .description {
        margin: 12px 0;
    }

    .get {
        height: 400px;

        &__text {
            h1 {
                line-height: 32px;
            }
        }

        &__buttons {
            display: grid;
            align-items: center;
            justify-content: center;
            row-gap: 10px;
        }

        &__button {
            &:first-child {
                width: 460px;
                height: 60px;
            }

            &:last-child {
                width: 460px;
                height: 60px;
            }
        }
    }

    .conditions {
        &__text {
            h1 {
                line-height: 32px;
            }
        }
    }

    .requirements {
        height: auto;

        &__text {
            h1 {
                margin: 10px 0 10px 10px;
            }
        }

        &__list {
            margin-left: 10px;

            >li {
                margin-bottom: 4px;
                padding-left: 20px;
            }
        }
    }

    .choose {
        height: auto;
        border-bottom: unset;

        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__title {
            grid-column: unset;
        }

        &__title {
            h1 {
                line-height: 32px;
            }
        }

        &__button {
            margin-top: 10px;
            justify-self: center;
            width: 460px;
            height: 60px;
        }
    }

    .contacts {
        &__wrapper {
            grid-template-columns: 1fr;
            justify-items: center;
            row-gap: 24px;
        }

        &__button {
            &:first-child {
                justify-self: unset;
                margin-right: unset;
            }

            &:last-child {
                justify-self: unset;
                margin-left: unset;
                width: 460px;
                height: 60px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        &-wide {
            max-width: 100%;
        }
    }

    .get {
        &__wrapper {
            padding: 0 10px;
        }

        &__text {
            >p {
                line-height: 20px;
            }

            >span {
                line-height: 20px;
            }
        }

        &__button {
            &:first-child {
                width: 300px;
            }

            &:last-child {
                width: 300px;
            }
        }
    }

    .conditions {
        &__wrapper {
            padding: 0 10px;
        }

        &__list {
            >li {
                background-size: 20px 20px;
                padding-left: 25px;
                line-height: 1.1;
            }

            >li>span {
                line-height: 1.1;
            }
        }
    }

    .choose {
        padding: 0 10px;

        &__text {
            >p {
                line-height: 20px;
            }
        }

        &__button {
            width: 300px;
        }
    }

    .contacts {
        &__button {
            &:last-child {
                width: 300px;
            }
        }
    }
}

@media (max-width: 393px) {
    .get {
        height: 430px;
    }

    .conditions {
        height: auto;
    }
}