@use './variables';

@mixin titleFont {
    color: variables.$fontColor;
    font-weight: variables.$fontWeight;
    font-size: variables.$fontSize;
    line-height: variables.$fontLineHeight;
    text-transform: uppercase;
}

@mixin blocksText {
    color: variables.$textBlocksColor;
    font-weight: variables.$textBlocksWeight;
    font-size: variables.$textBlocksSize;
    line-height: variables.$textBlocksLineHeight;
}

@mixin blocksTextBold {
    color: variables.$textBlocksColor;
    font-weight: variables.$textBlocksWeightBold;
    font-size: variables.$textBlocksSize;
    line-height: variables.$textBlocksLineHeight;
}

@mixin littleTextFont {
    font-family: variables.$littleTextFont;
    color: variables.$littleTextColor;
    font-weight: variables.$littleTextWeight;
    font-size: variables.$littleTextSize;
    line-height: variables.$littleTextHeight;
}

@mixin littleTextFontBold {
    font-family: variables.$littleTextFont;
    color: variables.$littleTextColor;
    font-weight: 700;
    font-size: variables.$littleTextSize;
    line-height: variables.$littleTextHeight;
}

// buttons

@mixin orangeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$fontColor;
    width: variables.$buttonWidth;
    height: variables.$buttonHeight;
    border-radius: variables.$buttonBorderRadius;
    color: white;
    font-weight: variables.$buttonTextWeight;
    font-size: variables.$buttonTextSize;
    line-height: variables.$buttonTextLineHeight;
    text-transform: uppercase;
    cursor: pointer;
}

@mixin whiteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: variables.$buttonWidth;
    height: variables.$buttonHeight;
    border-radius: variables.$buttonBorderRadius;
    border: 1px solid variables.$fontColor;
    color: variables.$fontColor;
    font-weight: variables.$buttonTextWeight;
    font-size: variables.$buttonTextSize;
    line-height: variables.$buttonTextLineHeight;
    text-transform: uppercase;
    cursor: pointer;
}