// title-font

$fontColor: #FF690D;
$fontWeight: 700;
$fontSize: 32px;
$fontLineHeight: 48px;

// text-blocks

$textBlocksColor: #30393F;
$textBlocksWeight: 400;
$textBlocksSize: 18px;
$textBlocksLineHeight: 27px;
$textBlocksWeightBold: 700;

// gray block text

$littleTextFont: 'Roboto', Arial, Helvetica, sans-serif;
$littleTextColor: #000A12;
$littleTextWeight: 400;
$littleTextSize: 16px;
$littleTextHeight: 24px;


// buttons

$buttonWidth: 246px;
$buttonHeight: 54px;
$buttonBorderRadius: 8px;
$buttonTextWeight: 700;
$buttonTextSize: 16px;
$buttonTextLineHeight: 21.6px;