// @use '../base/variables';
// @use '../base/mixins';

@media (max-width: 1440px) {
    .container {
        &-wide {
            margin: 0 auto;
            width: 1120px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        &-wide {
            max-width: 960px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        &-wide {
            max-width: 720px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        &-wide {
            max-width: 540px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        &-wide {
            max-width: 100%;
        }
    }
}