@use './base/reset';
@use './base/variables';
@use './base/mixins';
@use './media';

body {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
}


.container {
    &-wide {
        margin: 0 auto;
        width: 1200px;
    }
}

.description {

    // width: 1150px;
    height: 340px;
    border-radius: 16px;
    // background: linear-gradient(180deg, #FAC28F 75%, #FFFFFF 75%);
    background-color: #FAC28F;
    margin: 24px 0 53px;

    >p {
        @include mixins.blocksText()
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 421px;
        grid-template-rows: 120px 1fr;
    }

    &__text {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr 1fr;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    &__title {
        text-align: center;

        >h1 {
            margin-top: 34px;
            background: url("../img/title.png") 50% / cover no-repeat;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            font-size: 48px;
            line-height: 58.51px;
            text-transform: uppercase;
        }

    }

    &__photo {
        width: 100%;
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.get {
    height: 260px;
    margin-bottom: 24px;



    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 389px;
        grid-template-rows: 1fr 96px;
    }

    &__text {
        >h1 {
            @include mixins.titleFont();
            margin-bottom: 8px;
        }

        >p {
            @include mixins.blocksText()
        }

        >p>span {
            @include mixins.blocksTextBold()
        }
    }

    &__buttons {
        display: flex;
        margin-top: 24px;
    }

    &__button {
        &:first-child {
            @include mixins.orangeButton();
            margin-right: 24px;
        }

        &:last-child {
            @include mixins.whiteButton()
        }
    }

    &__photo {
        grid-column: 2 / 3;
        grid-row: 1 / 3;

        width: 100%;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.conditions {
    height: 169px;
    margin-bottom: 24px;

    &__text {
        >h1 {
            @include mixins.titleFont();
            margin-bottom: 8px;
        }

    }

    &__list {

        >li {
            @include mixins.blocksText();
            margin-bottom: 8px;
            background-image: url("../img/li1.png");
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: 0 50%;
            padding-left: 30px;
            line-height: 1.5;
        }

        >li>span {
            @include mixins.blocksTextBold()
        }
    }




}

.requirements {
    height: 432px;
    margin-bottom: 24px;
    border-radius: 16px;
    background: linear-gradient(180deg, #D9D9D9 100%, #FFFFFF 100%), center no-repeat;

    &__wrapper {
        display: grid;
        grid-template-columns: 824px 1fr;
    }

    &__text {
        >h1 {
            margin: 32px 0 24px 32px;
            @include mixins.littleTextFont();
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
        }

    }

    &__list {
        margin-left: 32px;

        >li {
            @include mixins.littleTextFont();
            margin-bottom: 8px;
            background-image: url("../img/li2.png");
            background-repeat: no-repeat;
            background-size: 16px 16px;
            background-position: 0 50%;
            padding-left: 30px;
            line-height: 1.5;

        }

        >li>span {
            @include mixins.littleTextFontBold()
        }
    }
}


.choose {
    height: 110px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 227px;
    }

    &__title {
        grid-column: 1 / 3;

        >h1 {
            @include mixins.titleFont();
            margin-bottom: 8px;
        }
    }

    &__text {
        >p {
            @include mixins.blocksText()
        }
    }

    &__button {
        @include mixins.orangeButton();
        width: 227px;
    }
}

.contacts {
    height: 72px;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__button {
        &:first-child {
            @include mixins.whiteButton();
            width: 165.11px;
            justify-self: end;
            margin-right: 24px;
        }

        &:last-child {
            @include mixins.orangeButton();
            justify-self: start;
            margin-left: 24px;
        }
    }

    &__phone {
        margin-right: 12px;
    }
}